/**
  * For custom backgrounds
  * Will be the same form as bootstrap to keep the uniformity (i.e bg-@color)
  */

.bg-black {
    background-color: #000000;
}

.bg-gray {
    background-color: #f8f8f8;
}

.bg-gray-dark {
    background-color: #2c292a;
    color: #ffffff;
}