/**
  * Remove the radio button for the selection.
  * Selecting a day change its background and text to the active color
  */

.custom-radio {
    margin: 0px;
    input {
        visibility:hidden;
    }
    label {
        cursor: pointer;
    }
    input:checked +label {
        background: $active-color;
        color: $white;

    }
    .form-check-label {
        padding-left: 0.25rem;
        padding-right: 0.25rem;
    }
}

.custom-input {
    padding: 0px;
    border: solid $border-width $border-color;
}

// for styling the placeholder of the text input
input[type="text"]::-webkit-input-placeholder { 
    color: $gray-500;
    padding-left: 2px;
    font-size: $xs-font-size;
}
input[type="text"]::-moz-placeholder { 
    color: $gray-500;
    padding-left: 2px;
    font-size: $xs-font-size;
}
input[type="text"]:-ms-input-placeholder { 
    color: $gray-500;
    padding-left: 2px;
    font-size: $xs-font-size;
}
input[type="text"]:-moz-placeholder { 
    color: $gray-500;
    padding-left: 2px;
    font-size: $xs-font-size;
}