/**
  * For texts inside the footer
  * Texts will be smaller, white in color, and blue on hover
  */

.footer-text {
    @extend .text-white;
    font-size: $font-size-base;
    a {
        color: $white;
        &:hover {
            color: $active-color !important;
            text-decoration: none;
        }
    }
    @include media-breakpoint-down(md) {
        font-size: $small-font-size
    }
}