/**
  * For the active nav element
  * This includes the font-weight, the font-color, and the inverted triangle below the container
  */

.is-active {
    color: $active-color !important;
    @extend .font-weight-bold;
    &:after {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        margin-left: -2rem;
        top: 4rem;
        box-sizing: border-box;
        border: 8px solid black;
        border-color: transparent transparent #f8f8f8 #f8f8f8;
        transform-origin: 0 0;
        transform: rotate(-45deg);
        box-shadow: -3px 3px 3px 0 rgba(109, 102, 102, 0.14);
        @include media-breakpoint-up(sm) {
            margin-left: -6rem;
            top: 3.5rem;
            border: 12px solid black;
            border-color: transparent transparent #f8f8f8 #f8f8f8;
        }
        @include media-breakpoint-up(md) {
            margin-left: -6rem;
            top: 2.5rem;
            border: 12px solid black;
            border-color: transparent transparent #f8f8f8 #f8f8f8;
        }
    }
}

.is-active-text {
    color: #1386b4 !important;
}

.btn-active {
    @extend .btn-info;
    background: $active-color !important;
}