/**
  * Custom style for the navbar logo.
  * Set max-width to 15rem and remove max-height.
  */


.navbar-brand {
  >img {
    max-width: 15rem;
    max-height: 4rem;
    @include media-breakpoint-down(sm) {
      max-width:13rem;
    }
  }
}
    