/**
  *This file is to change Bootstrap variables.
  *As much as possible, we don't want to override Bootstrap's classes
  *because it might not be usable to other parts of the app.
  *Instead, we'll change the variables to suit our needs.
  */

//Import Roboto font
@import url('https://fonts.googleapis.com/css?family=Roboto');

//Modifications here
$font-family-sans-serif: 'Roboto', sans-serif;
$lg-font-size: 1.3rem;
$small-font-size: 0.9rem;
$xs-font-size: 0.8rem;
$active-color: #18a8e1;
$blue-color: #bee6f2;
$red-color: #ff0033;
$text-color: #999999;
$white: #ffffff;
$font-weight-bold: 900;
$font-size-base: 1.1rem;